@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}
/* utlities */
.space-font {
  font-family: "Space Grotesk", sans-serif;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #f9fafb;
  position: absolute;

  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.slider {
  height: calc(100vh - 5rem);
  width: 500vw;
  display: flex;
  transition: all 1s ease;
}
.slide {
  height: 100%;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-btn {
  position: relative;
}
.slide-btn::before {
  content: "";
  width: 0%;

  background-color: #f97316;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  position: absolute;
  transition: all 0.5s ease-in-out;
}

.slide-btn:hover::before {
  width: 100%;
}
